@import "tailwindcss";

@theme {
  --font-climate: "ClimateCrisisKR", serif;
  --font-sanhayeop: "Sanhayeop", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ClimateCrisisKR 폰트 패밀리 */
@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1990.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2000.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2010.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2019.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2030.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2040.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'ClimateCrisisKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2050.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sanhayeop';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}


/* globals.css 또는 해당 컴포넌트에 추가 */
[data-nextjs-toast] {
  display: none !important;
}

/* React DevTools 버튼 숨기기 */
.__react-dev-tools {
  display: none !important;
}

/* Next.js 개발 도구 전체 숨기기 */
#__next-dev-overlay-root {
  display: none !important;
}

.data-nextjs-toast {
  display: none !important;
}

.nextjs-toast-errors-parent {
  display: none !important;
}
